:root {
    --Dark-Blue: #161925;
    --MDB: #23395B;
    --Medium-Blue: #406E8E;
    --MLB: #8ea8c3;
    --Light-Blue: #CBF7ED;
}

body {
    background-color: var(--Dark-Blue);
    color: var(--Light-Blue);
}
.header {
    background: linear-gradient(to bottom, var(--Dark-Blue), var(--MDB));
    padding: 80px 40px 60px;
    text-align: center;
    border-bottom: 1px solid var(--Light-Blue);
}

.section-label{
    color: var(--MLB);
    font-family: "Akt", sans-serif;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 auto 15px;
}

.header h1 {
  font-family: "Playfair Display", serif;
  Color:WHITE;
  font-size: 88px;
  font-weight: 900;
  margin: 0 auto 15px;

}

.header p {
    font-family: "Akt", sans-serif;
    color: var(--MLB);
    font-style: normal;
    font-size: 22px;
    max-width: 1000px;
    margin: 0 auto 30px;
}

.stats-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.stat {
    text-align: center;
}

.stat-rank {
    font-family: "Akt", sans-serif;
    color: white;
    font-size: 44px;
    font-weight: 700;
    display: block;
}

.stat-label {
    font-family: "Akt", sans-serif;
    color: var(--MLB);
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 10px;
}

.section {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 24px 40px 0;
}

.section-num {
    font-family: "Akt", sans-serif;
    color: var(--Light-Blue);
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

::after, ::before {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--Light-Blue);
}

.footer {
    background: linear-gradient(to top, var(--Dark-Blue), var(--MDB));
    padding: 40px;
    text-align: center;
    font-family: "Akt", sans-serif;
    font-size: 0.8em;
    color: var(--MDB);
    border-top: 1px solid var(--Light-Blue);
}

.footer p {
    color: var(--MLB);
    margin: 5px 0;
}

.author {
    color: var(--MLB);
}

.s1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    padding: 0px 0px 0;
}

.s1 h1{
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;
}

.s1 p {
    font-family: "Akt", sans-serif;
    color: var(--MLB);
    font-size: 18px;
    max-width: 777px;
    margin-bottom: 10px;
}

.chart-container {
    display: flex;
    font-family: "Akt", sans-serif;
    font-size: 14px;
    flex-direction: column;
    align-items: left;
    background-color: var(--MDB);
    border: 1px solid var(--Light-Blue);
    max-width: 1000px;
    padding: 30px;
    border-radius: 20px;
}
.chart-container h3 {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--Dark-Blue);
    margin: 10px auto 5px;
}
.chart-container p {
    font-family: "Akt", sans-serif;
    color: var(--Light-Blue);
    font-size: 18px;
    margin: 0 auto 5px;
}

#choropleth{
    background-color: var(--MDB);
    max-width: 100%;
    padding: 20px;
    width: 800px;
}

.chart-container2 {
    display: flex;
    font-family: "Akt", sans-serif;
    font-size: 14px;
    flex-direction: column;
    align-items: left;
    background-color: var(--MDB);
    border: 1px solid var(--Light-Blue);
    max-width: 700px;
    padding: 30px;
    border-radius: 20px;
}
.chart-container2 h3 {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--Dark-Blue);
    margin: 10px auto 5px;
}
.chart-container2 p {
    font-family: "Akt", sans-serif;
    color: var(--Light-Blue);
    font-size: 18px;
    margin: 0 auto 5px;
}

#chart2 {
    margin-top: 20px;
    max-width: 100%;
    align-self: center;
}